@{
    Layout = null;
    var imgUrl = "/UpFile/" + ViewData["imgsource"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>你扫码我请课</title>
</head>
<body>
    <div>

        <img src="@imgUrl" width="100%" height="100%" />
    </div>
</body>
</html>