@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="container page-body">
    <div class="panel panel-info" data-expand="Y">
        <div class="panel-heading">
            <h5>人员情况统计</h5>
        </div>
        <div class="panel-body">
            <div class="row item-row">
                <div class="col-md-12">
                    <div class="item-name">概述</div>
                    <div class="item-static">
                        总人数
                    </div>
                </div>

            </div>
            <div class="row item-row">
                <div class="col-md-3">
                    <div class="item-name">开户人数</div>
                    <div class="item-static">
                        按实际的福利卡据我只需我去热佛奥是v爱上咖啡好看我也弄
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item-name">绑定人数：</div>
                    <div class="item-static">
                        按实际的福利卡据我只需我去热佛奥是v爱上咖啡好看我也弄
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item-name">入金人数</div>
                    <div class="item-static">
                        
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item-name">配售人数：</div>
                    <div class="item-static">
                        按实际的福利卡据我只需我去热佛奥是v爱上咖啡好看我也弄
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>