
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    string badge = HttpContext.Current.User.Identity.Name; ;

    if (string.IsNullOrEmpty(badge) )
    {
        Response.Redirect("~/Account/Login");
    }
}


    <div class="container-fluid page-body">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h5>用户列表</h5>
            </div>
            <div class="panel-body">
                <div id="List"></div>
            </div>
        </div>
    </div>


@section scripts {
    <script>
        OP_CONFIG.module = 'account';
        OP_CONFIG.page = 'list';
    </script>

}