
@{
    ViewBag.Title = "List";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script src="http://apps.bdimg.com/libs/jquery/1.9.1/jquery.js"></script>
    <link href="~/Content/common.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap-theme.css">
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap-theme.css.map">
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap.css">
    <script type="text/javascript" src="http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.js"></script>
    <script src="~/Content/jquery.plugins.js"></script>
    <script type="text/javascript">
        $(function () {
            var submitListTable = $('#List').table({
                tableClass: 'table-condensed',
                url: '../Account/GetList',
                resizable: false,
                colOptions: [{
                    name: '序号',
                    field: 'Id',
                    width: 50,
                    align: 'center'
                }, {
                    name: '昵称',
                    field: 'nickName',
                    width: 200

                }, {
                    name: '姓名',
                    field: 'realName',
                    width: 200

                }, {
                    name: '电话',
                    field: 'phone',
                    width: 80
                }, {
                    name: '身份证正面',
                    field: '',
                    width: 80,
                    handler: function (value, data) {
                        picurl = "../Download/" + data.CardPicFront + ".jpg";
                        return '<a href='+picurl+ '> <img src='+picurl+' width=90 height=30/></a>';
                    }
                }, {
                    name: '身份证背面',
                    field: 'State',
                    width: 80,
                    handler: function (value, data) {
                        picurl = "../Download/" + data.CardPicBackground +".jpg";
                        return '<a href=' + picurl + '> <img src=' + picurl + ' width=90 height=30/></a>';
                    }
                }, {
                    name: '银行正面',
                    field: 'createtime',
                    width: 90,
                    handler: function (value, data) {
                        picurl = "../Download/" + data.BankCardPic +".jpg";
                        return '<a href=' + picurl + '> <img src=' + picurl + ' width=90 height=30/></a>';
                    }
                }, {
                    name: '推荐人',
                    field: 'tjrnickName',
                    width: 90
                }],
                onInit: function () {
                    $('[data-toggle="tooltip"]').tooltip({
                        html: true
                    });
                },
                resultVerify: function (res) {
                    return {
                        state: res.state,
                        msg: res.msg
                    }
                }
            });
        });
     
    </script>
</head>
<body>

    <div class="container-fluid page-body">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h5>用户列表</h5>
            </div>
            <div class="panel-body">
                <div id="List"></div>
            </div>
        </div>
    </div>
</body>
</html>


