@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script src="http://apps.bdimg.com/libs/jquery/1.9.1/jquery.js"></script>
    <link href="~/Content/common.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap-theme.css">
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap-theme.css.map">
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap.css">
    <link href="~/Content/ztree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
    <script type="text/javascript" src="http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.js"></script>
    <script src="~/Content/ztree/js/jquery.ztree.core-3.5.js"></script>
    <script src="~/Content/jquery.plugins.js"></script>
    <script type="text/javascript">
    <!--
    var setting = {	};

    var zNodes =[]
        

    $(document).ready(function () {
        $.ajax.
        $.fn.zTree.init($("#treeDemo"), setting, zNodes);
    });
    //-->
    </SCRIPT>

 
</head>
<body>
    <div class="container-fluid page-body">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h5>用户树</h5>
            </div>
            <div class="panel-body">
                <div class="zTreeDemoBackground left">
                    <ul id="treeDemo" class="ztree"></ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
