@{
    var userName = HttpContext.Current.User.Identity.Name;;
    var right = "";

    if (string.IsNullOrWhiteSpace(userName))
    {
        Response.Redirect("/Account/Login");
    }
    Layout = "~/Views/Shared/AdminLayout.cshtml";


}

@section styles{
  
<link href="~/assets/plugins/ztree/zTreeStyle.css" rel="stylesheet" />
}

<div class="container-fluid ">
    <div class="panel panel-danger col-md-4">
        <div class="panel-heading">
            <h5>用户树</h5>
        </div>
        <div class="panel-body">
            <div class="zTreeDemoBackground left col-md-4">
                <ul id="treeDemo" class="ztree"></ul>
            </div>




        </div>
    </div>
    <div class="panel panel-info col-md-8">
        <div class="panel-heading">
            <h5>用户详细信息</h5>
        </div>
        <div class="panel-body">
            <div class="row item-row">
                <div class="col-md-4">
                    <div class="item-name">昵称：</div>
                    <div class="item-control">
                        <div class="input-group">
                            <input type="text" class="form-control" readonly id="nickName" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item-name">姓名</div>
                    <div class="item-control">
                        <input type="text" class="form-control" id="realName">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item-name">电话：</div>
                    <div class="item-control">
                        <input type="text" class="form-control" id="phone">
                    </div>
                </div>
            </div>
            <div class="row item-row">
                <div class="col-md-3">
                    <div class="item-name">开户：</div>
                    <div class="item-control">
                        <input type="checkbox" class="form-control" id="openState">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item-name">绑定：</div>
                    <div class="item-control">
                        <input type="checkbox" class="form-control" id="bindState">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item-name">入金：</div>
                    <div class="item-control">
                        <input type="checkbox" class="form-control" id="inMoneyState">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item-name">配售：</div>
                    <div class="item-control">
                        <input type="checkbox" class="form-control" id="saleState">
                    </div>
                </div>
            </div>
            <div class="row item-row">
                <div class="col-md-4">
                    <div class="item-name">身份证照片正面：</div>
                    <div class="item-control">
                        <a href=""> <img width="80" height="80" src="" /> </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item-name">身份证照片背面：</div>
                    <div class="item-control">
                        <a href="" id="cardpicfronturl"> <img width="80" height="80" src="" id="cardpicfrontimg" /> </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item-name">银行卡照片：</div>
                    <div class="item-control">
                        <a href="" id="BankCardPicurl"> <img width="80" height="80" src="" id="BankCardPicimg" /> </a>
                    </div>
                </div>
            </div>
            <div class="panel">
                <ul id="myTab" class="nav nav-tabs">
                    <li class="active">
                        <a href="#home" data-toggle="tab">
                            一级会员
                        </a>
                    </li>
                </ul>
                <div id="myTabContentLevel1" class="tab-content">

                    <ul id="myTabContentLevel1"></ul>

                </div>
            </div>
            <div class="panel">
                <ul id="myTab" class="nav nav-tabs">
                    <li class="active">
                        <a href="#home" data-toggle="tab">
                            二级会员
                        </a>
                    </li>
                </ul>
                <div  class="tab-content" >
                    <ul id="myTabContentLevel2"></ul>

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        OP_CONFIG.module = 'account';
        OP_CONFIG.page = 'tree';
    </script>
}