@using Senparc.Weixin.MP;
@model WEIXINSITE.Models.UserModel
@{
    ViewBag.Title = ViewBag.BaseUnit+"百万奖金等你拿活动";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";

    int teamCount = ViewBag.Count;
    string qrfile = "\\upfile\\qrcode_" + @Model.RegUser.weixinOpenId + ".jpg";


   
    string appId = ViewBag.AppId;
    string baseUrl = ViewBag.BaseUrl;
    string openAccountUrl = Senparc.Weixin.MP.AdvancedAPIs.OAuthApi.GetAuthorizeUrl(appId, "http://" + baseUrl + "/client/openAccount", "JeffreySu", OAuthScope.snsapi_userinfo);

}



<div class="container">
   
</div>


